
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes walk {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100vw);
  }
}

.animate-walk {
  animation: walk 30s linear infinite;
}


.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}
.text-gold {
  color: #d4af37;
}


.bg-gold {
  background-color: #d4af37;
}


@font-face {
  font-family: 'RomanFont';
  src: url('./assets/font/AugustusBeveled-04jz.ttf') format('truetype');
  src: url('./assets/font/Augustusbeveled-YOvj.otf') format('otf');
}

@font-face {
  font-family: 'RomanSmall';
  src: url('./assets/font/KnightsQuest.ttf') format('truetype');
}