
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  padding: 0;
} */

@keyframes walk {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100vw);
  }
}

.animate-walk {
  animation: walk 40s linear infinite;
}


.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}
.text-gold {
  color: #d4af37;
}


.bg-gold {
  background-color: #d4af37;
}


@keyframes rotate-border {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.platinum-border {
  border-image-source: linear-gradient(90deg, #e5e4e2, #d4af37, #e5e4e2);
  border-image-slice: 1;
  animation: rotate-border 4s linear infinite;
}

.gold-border {
  border-image-source: linear-gradient(90deg, #FFD700, #FFAA00, #FFD700);
  border-image-slice: 1;
  animation: rotate-border 6s linear infinite;
}

.silver-border {
  border-image-source: linear-gradient(90deg, #C0C0C0, #808080, #C0C0C0);
  border-image-slice: 1;
  animation: rotate-border 8s linear infinite;
}


@font-face {
  font-family: 'RomanFont';
  src: url('./assets/font/AugustusBeveled-04jz.ttf') format('truetype');
  src: url('./assets/font/Augustusbeveled-YOvj.otf') format('otf');
}

@font-face {
  font-family: 'RomanSmall';
  src: url('./assets/font/KnightsQuest.ttf') format('truetype');
}

@font-face {
  font-family: 'ChalkDuster';
  src: url('./assets/font/Chalkduster.ttf') format('truetype');
}

/* some  */



@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

  
@keyframes shine {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 200% 0%;
  }
}
    /* .force-gpu {
      transform: translateZ(0);
      -webkit-transform: translateZ(0);
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      perspective: 1000px;
      -webkit-perspective: 1000px;
    } */

        /* .sponsors-section {
          padding-bottom: 100px;
     
          overflow: visible;
          
        }
    
       
        .footer {
          position: relative;
          z-index: 10;
          background-color: #111;
          color: white;
          text-align: center;
          padding: 20px 0;
        } */


        